/* @group Blockquotes */

blockquote {
    font-style: italic;
    margin: 0 1.385em 1.385em 1.385em; /* 18px */
}

p+p+blockquote {
    margin-top: 1.385em;
}

blockquote cite, blockquote em {
    font-style: normal;
}

/* @end */