/* @group Lists */

/* unordered lists more often DON'T require bullets except in extended bits of writing -
   use the .prose class or apply directly with .bullets */
.prose ul, ul.bullets, ul.bullets ul {
    list-style-type: disc;
    margin-left: 1.385em; /* 18px */
}

ol {
/* ordered lists usually DO require bullets */
    list-style-type: decimal;
    margin-left: 2.077em; /* 27px */
}

dt {
    font-weight: bold;
    margin-top: 1.385em; /* 18px */
}

/* @end */