/* @group Margins */

p, ul, ol, dl, address, table, pre, fieldset {
    margin-bottom: 1.385em; /* 18px */
}

form {
    margin-bottom: 1.125em; /* 18px */
}

h1 {
    margin-top: 1.125em; /* 27px */
    margin-bottom: 0.75em; /* 18px */
}

h2 {
    margin-top: 1.5em; /* 27px */
    margin-bottom: 0.5em; /* 9px */
}

h3 {
    margin-top: 1.6875em; /* 27px */
    margin-bottom: 0.5625em; /* 9px */
}

h4 {
    margin-top: 1.286em; /* 18px */
    margin-bottom: 0.643em; /* 9px */
}

ul ul, ol ol, ol ul, ul ol {
    margin-bottom: 0;
}

/* @end */