/*
    outer
    =========================================================
        header
    ==  ------------------------------------------------   ==
    ==  -                                              -   ==
    ==  ------------------------------------------------   ==
    ==                                                     ==
        inner
    ==  ------------------------------------------------   ==
            left           right
    ==  -  #############  ###########################  -   ==
    ==  -  #           #  # right right  right left #  -   ==
    ==  -  #           #  # ++++++++   +++++++++++  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # +      +   +         +  #  -   ==
    ==  -  #           #  # ++++++++   +++++++++++  #  -   ==
    ==  -  #############  ###########################  -   ==
    ==  ------------------------------------------------   ==
    ==                                                     ==
        footer
    ==  ------------------------------------------------   ==
    ==  -                                              -   ==
    ==  ------------------------------------------------   ==
    =========================================================
*/

.outer {
    margin: 0 auto;
    text-align: center;
    max-width: 980px;
    _width: 980px;
}

.header {
}

.inner {
    overflow: hidden;
}

.inner .right {
    width: 74%;
    float: right;
}

/* 这里是左边栏 */
.inner .left {
    width: 25%;
    float: left;
}

/* 这里是主体 */
.inner .right .right {
    width: 60%;
    float: left;
}

/* 这里是右边栏 */
.inner .right .left {
    width: 36%;
    float: right;
}

/* EasyClearing */
.inner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.inner {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .inner {
    height: 1%;
}

.inner {
    display: block;
}

/* End hide from IE-mac */
