.ddc_col {
    background: #fff;
    border: 2px solid purple;
    padding: 2px;
    min-height: 20px;
    _height: 20px;
}

.ddc_col_item, .ddc_col_over, .ddc_col_dd {
    background: transparent;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #fff;
    color: #555;
    text-decoration: none;
    padding: 2px;
    cursor: pointer;

    -moz-user-select: none; /* FF 不选定文本 */
    -webkit-user-select: none; /* webkit 不选定文本 */
}

.ddc_col_item {
    background-color: #eee;
    margin-bottom: 1px;
}

.ddc_col_over {
    background-color: #ffff99;
}

.ddc_col_dd {
    filter: alpha(opacity = 50);
    opacity: 0.5;
}

.ddc_dragging {
    position: absolute;
    display: none;
    width: 5em;
}

.ddc_hiddenBorder {
    background-color: #ffffcc;
}

/* 以下是test_toolkit_ddcolumn2.htm中的内容 */
.inner {
    -webkit-user-select: none; /* webkit 不选定文本 */
}

.inner .left {
    padding: 2px;
}

.inner .right .right {
    padding: 1px;
}

.ddc_list {
    border: none;
    max-height: 600px;
    _height: 600px;
    overflow-y: auto;
}

.ddc_group {
    margin-bottom: 20px;
    padding: 5px 0;
}

.ddc_group_title {
    color: olive;
    font-weight: bold;
    text-align: left;
}
